body {
  font-family: "Raleway";
  background: url("../images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-position-y: 50vh;
  background-size: 1650px;
  background-color: hsl(229, 57%, 11%);
  color: white;
}

.all {
  display: grid;
  grid-template-columns: 40% 60%;
}

.brand {
  background-color: hsl(228, 56%, 26%);
  display: flex;
  position: absolute;
  top: 38%;
  left: 20%;
  padding: 40px;
  border-radius: 10px;
  border-top-right-radius: 100px;
  width: 280px;
  height: 120px;
  align-items: center;
}

.brand .items .item-imgs {
  display: flex;
}
.brand .items .item-imgs .uno {
  background-image: url(../images/icon-document.svg);
}
.brand .items .item-imgs .dos {
  background-image: url(../images/icon-folder.svg);
}
.brand .items .item-imgs .tres {
  background-image: url(../images/icon-upload.svg);
}
.brand .items .item-imgs div {
  background-color: hsl(229, 57%, 11%);
  margin: 8px;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  border-radius: 8px;
}

.storage {
  background-color: hsl(228, 56%, 26%);
  height: 110px;
  width: 450px;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  left: 47%;
  bottom: 38%;
  color: hsl(243, 100%, 93%);
}
.storage::after {
  content: "185 GB Left ";
  background-color: white;
  color: hsl(229, 57%, 11%);
  padding: 30px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  position: absolute;
  top: -60px;
  right: 30px;
}
.storage p {
  font-size: 14px;
  margin: 15px 20px;
}
.storage .storage-bar {
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  height: 12px;
  border-radius: 5px;
  margin: 0 20px;
}

.storage .storage-edges {
  display: flex;
  margin: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  justify-content: space-between;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 2%;
  left: 40%;
}
.attribution a {
  text-decoration: none;
  color: hsl(229, 7%, 55%);
}
